body {
    background-color: white;
    margin: 0;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.navimg{
    height: 20px;
    width: 20px;
}

.nav-content{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
}

.nav-content a{
    color: black;
    text-decoration: none;
}

.nav-content a:hover{
    color: black;
}

.nav-content li{
    margin: 0 10px;
    display: flex;
    flex: 0 0 auto;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchbar {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 20px;
    display: flex;
    width: 500px;
    justify-content: space-between;
    padding: 5px 8px 0 16px;
}

.searchbar:hover { 
    box-shadow: 0 1px 5px 0 rgba(201, 206, 221, 0.692);
    border-color: rgba(223, 225, 229, 0);
}

.buscador {
    border-style: none;
    width: 100%;
    margin-bottom: 5px;
}

.buscador:focus {
    outline: none;
}

.boton {
    border: none;
    margin-top: 40px;
    background-color: rgba(231, 231, 231, 0.274);
    border-radius: 15px;
    box-sizing: 15px;
}

.boton:hover {
    box-shadow: 0 1px 5px 0 rgba(201, 206, 221, 0.692);
}

.footer-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
}

.footer-1, .footer-2 {
    display: flex;
    width: 100%;
    flex-direction: row;
    border-top: 1px solid grey;
}

.footer-1 {
    box-sizing: border-box;
    justify-content: start;
    padding-left: 50px;
    color: grey;
}

.footer-2 {
    justify-content: space-between;
}

.footer-2 ul {
    list-style: none;
}

.footer-2 ul a{
    color: grey;
    text-decoration: none;
}

.footer-2 ul a:hover {
    color: grey;
    text-decoration: underline;
}

.lista {
    display: flex;
    flex-direction: row;
    padding: 0 40px;
}

.lista li {
    padding: 0 10px;
}